.link {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.link:first-child{
    flex-direction: row-reverse;
}

.link-icon {
  flex-shrink: 0;
}

.link-text {
  display: flex;
  flex-direction: column;
}

.link-text h2 {
  margin: 0;
  color: var(--primary);
}

.link-text p {
  margin: 5px 0 0;
  font-size: 0.95rem;
  color: #ccc;
}
